@import 'reset.scss';
// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Noto+Sans+KR:wght@400;700&family=Noto+Serif+KR:wght@400;700&display=swap');

body {
    margin: 20px;
    padding: 30px;
    // border: 3px solid #bf6c85;
    border-radius: 25px;
    background: #ffffff;
    box-shadow:  5px 5px 12px #8a8a8a,
                -5px -5px 12px #ffffff;
    * {
        // font-family: 'Noto Serif KR', serif;
        font-family: 'Noto Sans KR', sans-serif;
    }
}